<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-button color="primary" fill="clear" (click)="onCancel()">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title style="text-align: center;">
    {{mode=='New'?'New character':'Edit character'}}
  </ion-title>
  <ion-buttons slot="end">
    <ion-button *ngIf="mode=='Edit'" color="primary" fill="clear" (click)="onDelete()">
      <ion-icon slot="icon-only" name="trash-outline" ></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <app-selectable-picture formControlName="picture"></app-selectable-picture>
    <ion-item>
      <ion-input label="Name" labelPlacement="start" formControlName="name" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Surname" labelPlacement="start" formControlName="surname" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Description (optional)" labelPlacement="start" formControlName="description" type="text"  maxlength="350"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Source" labelPlacement="start" formControlName="source" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Chapters" labelPlacement="start" formControlName="sourceChapters" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Type of source" labelPlacement="start" formControlName="sourceType" type="text"></ion-input>
    </ion-item>
  </form>
</ion-content>
<ion-footer>
  <ion-button type="submit" [disabled]="!form.valid || !form.dirty" class="ion-padding" expand="full" (click)="onSubmit()">{{mode=='New'?'Create':'Save'}}</ion-button>
</ion-footer>