<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Back to Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-button fill="clear" aria-label="New User" (click)="onNewUser()">
  <ion-icon slot="icon-only"  color="primary"  name="add-outline" aria-hidden="true"></ion-icon>
</ion-button>
<ion-content class="ion-padding">
  <div class="characters">
    <app-crud-info *ngFor="let character of (characterService.characters$ | async)"
     [character]="character">

    </app-crud-info>
  </div>
</ion-content>
