<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="home">
    <div id="banner">
      <img alt="banner" src="./../../../assets/images/banner.jpeg">
    </div>
    <div id="container">
      <ion-button (click)="characters()">
        see characters
      </ion-button>
      <ion-button (click)="about()">
        about us
      </ion-button>
    </div>
</div>
</ion-content>
